
.ui.segment.rolladie-container{
  grid-area: roll-side;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;

  margin: 0px;

  height: 100%;
  min-width: 350px;


}

.fake-background{
  width: 260px;
  height: 260px;
  box-shadow: 0px 0px 20px 20px #888888;
  padding: 0;
  margin: 0;
}

.container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50%;
}

.dice{
  border: 2px solid white;
  height: 250px;
  width: 250px;
  position: relative;
  transform-style: preserve-3d;
}

.spinning-true{
  animation: rotate 3s infinite;
}

@keyframes rotate{
  100%{
    transform: rotateY(360deg)
  }
}

.face{
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: white;

  height: 250px;
  width: 250px;

  border: 7px solid gray;
  box-sizing: border-box;


  margin: auto;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.face-text{
  font-size: 40px;
  font-weight: 900;
}

.front{
  transform: translateZ(125px);
}
.back{
  transform: translateZ(-125px) rotateY(180deg);
}
.left{
  transform: rotateY(270deg) translateX(-125px);
  transform-origin: center left;
}
.right{
  transform: rotateY(-270deg) translateX(125px);
  transform-origin: top right;
}

@media (max-width: 1250px){
  .ui.segment.rolladie-container{
    min-height: 600px;
    max-height: 700px;
  }
}

// @media (max-width: 600px){
//   .fake-background{
//     width: 70px;
//     height: 70px;
//     box-shadow: 0px 0px 5px 5px #888888;
//   }

//   .face{
//     height: 60px;
//     width: 60px;
//     border: 7px solid gray;
//   }

//   .dice{
//     height: 60px;
//     width: 60px;
//   }

//   .face-text{
//     font-size: 30px;
//   }
// }