
.ui.segment.chat-container{
  grid-area: chat-side;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;

  margin: 0px;

  height: 100%;
}

.ui.segment.chat-box{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-height: 400px;
}

.chat-messages{
  overflow: auto;
}

.e-container{
  display: flex;
  flex-wrap: wrap;

  .button{
    margin: 5px;
  }

}


@media (max-width: 450px){

  .ui.segment.chat-container{
    max-width: 200px;
  }

  .e-container{

      .button-emoji{
        width: 15px
      }

  }
}