
// .error-message {
//   color: red
// }

// .name-form-prompt{
//   margin: 15px 15px 5px;
// }

// .error-message{
//   margin: 0px 15px;
// }

// .name-input-form{
//   margin: 0px 15px 15px;
// }

// .ui.button.name-input-submit{
//   margin-left: 10px;
// }